<div class="content">
    <ng-container *ngIf="progressService.gameOver;else gameTemplate">
        <app-game-over (startOverEvent)="startOver()"></app-game-over>
    </ng-container>
    <ng-template #gameTemplate>
        <ng-container *ngIf="!results.title;else roundResultTemplate">
            <app-setup [setup]="setup" [potsOnshore]="potsOnshore" [potsOffshore]="potsOffshore"></app-setup>
            <div class="buttons">
                <button id="lobster" type="submit" (click)="goLobstering()"><img src="assets/lobster.png" alt="Lobster image"> Get
                    Lobstering!</button>
            </div>
        </ng-container>
        <ng-template #roundResultTemplate>
            <app-results [results]="results" (nextDayEvent)="nextDay()"></app-results>
        </ng-template>
    </ng-template>
</div>