table {
    background-color: lemonchiffon;
    box-shadow: rgb(153, 153, 153) 0px 5px 15px;
    font-size: 1.5rem;
    border-radius: 0px 0px 5px 0px;
    td {
        border-right: 1px solid;
        padding: 0.5rem;
    }
    td:last-of-type {
        border-right: none;
    }
    img {
        height: 2rem;
        width: 2rem;
    }
}
table:focus {
    outline: 3px solid lightblue;
}